[Desktop Entry]
Comment=
Exec=kfmexec "xterm -e .uade2/uade123 -v" %U
GenericName=Amiga music player
GenericName[de]=Amiga Musik Abspielprogramm
Icon=multimedia
InitialPreferenceh=2
MimeType=audio/x-amiga
Name=uade123
Name[de]=uade123
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
